@import 'media';

// Fonts Import start:
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300;400;500;600;700;800;900&display=swap');
// Fonts Import end.

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	pointer-events: all;
	text-decoration: none;
}

body {
	background: #0e0e0e;
	overflow-x: hidden;
	position: relative;

	cursor: none;
}

main {
	position: absolute;
	margin-block-start: -8rem;
}

header {
	width: 90%;
	min-height: 10vh;

	margin: auto;
	padding: 2rem 0rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: #fff;

	z-index: 2;
	position: relative;

	#logo {
		font-family: 'Poiret One', cursive;
		font-size: 3rem;
		font-weight: 600;

		text-decoration: none;
		letter-spacing: 1rem;
		color: #fff;
	}

	.burger-nav {
		pointer-events: all;
		width: 6rem;
		height: 6rem;

		padding-left: 0.8rem;
		border-radius: 50%;

		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;

		.line1 {
			width: 3rem;
			height: 0.2rem;

			margin: 0.4rem;
			background: #fff;
		}
		.line2 {
			width: 2.2rem;
			height: 0.2rem;

			margin: 0.4rem;
			background: #fff;
		}
		.line3 {
			width: 1.5rem;
			height: 0.2rem;

			margin: 0.4rem;
			background: #fff;
		}
	}
}

// Slider section:
.slide {
	width: 90%;
	height: 100vh;

	margin: 0 auto 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background: #0e0e0e;
	color: #fff;

	.hero-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		flex: 1;
		flex-basis: 25rem;
		padding-left: 5rem;

		padding-left: 5rem;
		position: relative;

		.title {
			position: relative;
			overflow: hidden;

			font-size: 5rem;
			font-weight: 800;

			font-family: 'Big Shoulders Text', cursive;
			letter-spacing: 0.5rem;

			.firstSpan {
				color: #5639bf;
			}
			.secondSpan {
				color: #40f9ff;
			}
			.thirdSpan {
				color: #ff6b1a;
			}

			.title-swipe {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;

				position: absolute;

				mix-blend-mode: darken;
				transform: translateY(120%) rotate(-5deg) scale(2);
			}
			.t-swipe1 {
				background-color: #5639bf;
			}
			.t-swipe2 {
				background-color: #40f9ff;
			}
			.t-swipe3 {
				background-color: #ff6b1a;
			}
		}

		p {
			font-family: 'Raleway', sans-serif;
			font-size: 1.5rem;
			padding: 3rem 0;

			color: rgb(233, 233, 233);
		}

		a {
			font-family: 'Raleway', sans-serif;
			font-size: 1rem;

			padding: 1rem 2rem;
			border: 1px solid #fff;
			color: #fff;

			align-self: flex-start;
			cursor: pointer;
		}
	}

	.hero-img {
		flex: 1;
		flex-basis: 25rem;

		overflow: hidden;
		border-radius: 2rem;
		border: none;

		img {
			width: 100%;
			height: 100%;

			border-radius: 2rem;
			object-fit: cover;
			position: relative;
		}
	}

	.reveal-img,
	.reveal-text {
		width: 100%;
		height: 150%;

		position: absolute;
		top: 0;
		left: 0;

		background: #0e0e0e;
	}
}

.navbar {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background: #e8b95f;

	display: flex;
	align-items: center;
	justify-content: space-around;

	z-index: 1;
	opacity: 1;

	clip-path: circle(50px at 100% -10%);

	.nav-links {
		font-size: 3rem;
		font-family: 'Poiret One', cursive;
		letter-spacing: 1rem;
		flex-basis: 30rem;

		cursor: pointer;

		h3 {
			margin: 2rem 0;
		}
	}

	.contact {
		flex-basis: 30rem;

		h3 {
			font-size: 5rem;
			font-family: 'Poiret One', cursive;
		}

		p {
			font-family: 'Raleway', sans-serif;
			font-size: 1.5rem;
			padding: 3rem 0;
			line-height: 2rem;
		}
	}
}

// Cursor style:
.cursor {
	position: absolute;
	overflow: hidden;

	background: rgb(255, 255, 255);
	cursor: pointer;
	width: 8px;
	height: 8px;
	border-radius: 100%;

	mix-blend-mode: difference;

	z-index: 2;
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;

	user-select: none;
	pointer-events: none;
	transform: scale(0.8);
}

.cursor.active {
	opacity: 1;
	transform: scale(14);

	&::before {
		opacity: 1;
	}
}

.cursor-follower {
	position: absolute;

	overflow: hidden;

	width: 40px;
	height: 40px;
	border-radius: 100%;

	mix-blend-mode: difference;

	z-index: 1;
	background-color: rgb(255, 255, 255);
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;

	user-select: none;
	pointer-events: none;
	transform: translate(4px, 4px);
}

.cursor-follower.active {
	opacity: 0.3;
	transform: scale(0);
}

//Hide scrollbar on navbar:
body.hide {
	overflow: hidden;
}

// Scroll Magic pin-spacer Bug Fixer:
.scrollmagic-pin-spacer {
	position: static !important;
}

// Customize  Scrollbar:
::-webkit-scrollbar {
	width: 0.7em;
	height: 2em;
}

::-webkit-scrollbar-track {
	border-radius: 100vw;
	background: rgb(177, 170, 170);
	margin-block: 0.5em;
	margin-inline: 1em;
}

::-webkit-scrollbar-thumb {
	background: #252525;
	border-radius: 100vw;
}

//|---->> Details Page style:
.droneSlide-details {
	width: 85%;
	min-height: 100vh;

	margin: auto;
	margin-top: -5rem;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	color: #fff;

	.droneImg {
		height: 75vh;
		width: 35rem;
		flex-basis: 35rem;

		img {
			width: 100%;
			height: 100%;

			border-radius: 2rem;

			object-fit: cover;
		}
	}

	.dronecase-text {
		flex: 1;
		flex-basis: 25rem;

		position: relative;

		h1 {
			font-size: 6rem;
			font-family: 'Poiret One', cursive;
			text-transform: uppercase;

			margin: 5rem 0;
		}

		.dn1 {
			color: #5ebf88;
		}
		.dn2 {
			color: #0099dd;
		}
		.dn3 {
			color: #c7513b;
		}

		p {
			font-family: 'Raleway', sans-serif;
			font-size: 1.5rem;
			padding: 2rem 4rem 0 0;
			margin-bottom: 10rem;

			line-height: 2rem;
		}
	}

	.drone-nr {
		position: absolute;

		left: 40%;
		bottom: 10%;

		font-size: 15rem;
		font-family: 'Poiret One', cursive;

		opacity: 0.2;

		color: #5ebf88;
	}
	.drone-nr1 {
		color: #5ebf88;
	}
	.drone-nr2 {
		color: #0099dd;
	}
	.drone-nr3 {
		color: #c7513b;
	}
}

// swipe animation divs:
.swipe {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	transform: translateX(-100%);
}
.swipe1 {
	background: #c7513b;
	z-index: 5;
}
.swipe2 {
	background: #5ebf88;
	z-index: 4;
}
.swipe3 {
	background: #0099dd;
	z-index: 3;
}
